Learn X in Y minutes
====================

1. Primitive Datatypes and Operators
------------------------------------

* 사칙연산

In [6]:
#You have numbers
3

3

In [7]:
#Math is what you would expect
1+1

2

In [8]:
8-1

7

In [9]:
10*2

20

In [10]:
35/5

7.0

In [11]:
# Integer division rounds down for both positive and negative numbers
5//3

1

In [12]:
-5//3

-2

In [13]:
5.0//3.0

1.0

In [14]:
-5.0//3.0

-2.0

In [15]:
# The result of division is always a float
10.0/3

3.3333333333333335

In [16]:
# Modulo operation
7%3

1

In [17]:
# i%j have the same sign as j, unlike C
# (3*3)-7 ==> 2
-7%3

2

In [18]:
# Exponentiation (x**y, x to the yth power)
2**3

8

In [19]:
# Enforce precedence with parentheses
1+3*2

7

In [20]:
(1+3)*2

8

* True/False

In [21]:
# Boolean values are primitives (Note: the capitalization)
True

True

In [22]:
# negate with not
not True

False

In [23]:
# Boolean Operators
# Note "and" and "or" are case-sensitive
True and False

False

In [24]:
False or True

True

In [27]:
# when use "and" and both are same, return true. when both are different, return false 
True and True

True

In [28]:
# True and False are actually 1 and 0 but with different keyeords
True+True

2

In [29]:
False-5

-5

In [30]:
# Conparison operators look at the numerical value of True and False
0==False

True

In [31]:
2==True

False

In [41]:
-5!=False
# != means "not same"

True

* bool 연산

In [40]:
# None, 0, and empty strings/lists/dicts/tuples/sets all evaluate to False.
# All other values are True
bool(0)
# bool(""), bool([]), bool({}), bool(()), bool(set()) also same

False

In [39]:
bool(4)
# any other numbers return True

True

* And/Or

In [36]:
# Using boolean logical operators on ints casts them to booleans for evaluation
# But their non-cast value is returned. Dont mix up with bool(ints) and bitwise
# and/or (&,\)
0 and 2

0

In [38]:
-5 or 0
# "-5" means true. (-5 and 0 are different, so that return true)

-5

In [42]:
# Equality is ==
1==1

True

In [43]:
1==2

False

In [44]:
# Inequality is !=
1!=1

False

In [45]:
1!=2

True

In [46]:
# More comparison
1<10

True

In [47]:
2<=2

True

In [48]:
# seeing whether a value is in a range
1<2 and 2<3

True

In [49]:
2<3 and 3<2

False

In [50]:
# Chaining makes this look nicer
1<2<3

True

In [51]:
2<3<2

False

In [54]:
# (is vs. ==) is checks if two variables refer to the same object, but ==checks
# if the objects pointed to have the same values
a=[1,2,3,4]
b=a
b is a

True

In [56]:
b=[1,2,3,4,]
b is a 
# need "b=a"

False

* Strings

In [57]:
# Strings are created with " or '
"This is a string."
'This is also a string.'

'This is also a string.'

In [58]:
# Strings can be added too
"Hello " + "world!"

'Hello world!'

In [60]:
# String literals (but not variables) can be concatenated without using '+'
"Hello " "world!"

'Hello world!'

In [61]:
# A string can be treated like a list of characters
"Hello world!"[0]

'H'

In [62]:
"Hello world!"[3]

'l'

In [63]:
# You can find the length of a string
len("This is a string")

16

In [64]:
len("koreatech")

9

In [65]:
# Since Python 3.6, you can use f-strings or formatted string literals.
name = "Reiko"
f"She said her name is {name}."

'She said her name is Reiko.'

In [66]:
# Any valid Python expression inside these braces is returned to the string.
name="hyebhin"
f"{name} is {len(name)} characters long."

'hyebhin is 7 characters long.'

In [67]:
# None is an object
None

In [68]:
# Don't use the equality "==" symbol to compare objects to None
# Use "is" instead. This checks for equality of object identity.
None is None

True

In [69]:
None=None

SyntaxError: cannot assign to None (3901836181.py, line 1)

2. Variables and Collections
----------------------------

* print function

In [70]:
# Python has a print function
print("I am Python. Nice to meet you!")

I am Python. Nice to meet you!

In [71]:
# By default the print function also prints out a newline at the end.
# Use the optional argument end to change the end string.
print("Hello world", end="!")

Hello world!

In [72]:
# Simple way to get input data from console
input_string_var=input("Enter some data: ")

Enter some data:  my name

In [73]:
# There are no declations. only assignments.
# convection is to use lower_case_with_underscores
some_var=5
some_var

5

In [74]:
# Accessing a previously unassigned variable is an exception.
# See Control Flow to learn more about exception handling.
some_unknown_var

NameError: name 'some_unknown_var' is not defined

In [75]:
# if can be used as an expression
# Equivalent of C's '?:' ternary operator
"yay!" if 0 > 1 else "nay!"

'nay!'

* List

In [77]:
# Lists store sequences
li = []
# You can start with a prefilled list
other_li = [4, 5, 6]

# Add stuff to the end of a list with append
li.append(1)    # li is now [1]
li.append(2)    # li is now [1, 2]
li.append(4)    # li is now [1, 2, 4]
li.append(3)    # li is now [1, 2, 4, 3]
print (li)

[1, 2, 4, 3]

In [87]:
#remove from the end with pop
li.pop()
print (li)

[1, 2, 4]

In [88]:
#Lets put it back
li.append(3)
print (li)

[1, 2, 4, 3]

In [89]:
# Access a list like you would any array
li[2]

4

In [90]:
# Look at the last element
li[-1]

3

In [91]:
# Looking out of bounds is an IndexError
li[4]

IndexError: list index out of range

In [94]:
# You can look at ranges with slice syntax.
# The start index is included, the end index is not
# (It's a closed/open range for you mathy types.)
# list=[1,2,4,3]
li[1:3]   # Return list from index 1 to 3

[2, 4]

In [92]:
li[2:]    # Return list starting from index 2

[4, 3]

In [95]:
li[:3] # Return list from beginning until index 3

[1, 2, 4]

In [97]:
li[::2]   # Return list selecting every second entry (0, 2, 4...)

[1, 4]

In [99]:
li[::-1] # Return list in reverse order
# Use any combination of these to make advanced slices
# li[start:end:step]

[3, 4, 2, 1]

In [101]:
# Make a one layer deep copy using slices
li2 = li[:]  # => li2 = [1, 2, 4, 3] but (li2 is li) will result in false.
li2 is li

False

In [110]:
# Remove arbitrary elements from a list with "del"
li=[1,2,4,3]
del li[2]  # li is now [1, 2, 3]
print(li)

[1, 2, 3]

In [111]:
# Remove first occurrence of a value
li.remove(2)  # li is now [1, 3]
print(li)

[1, 3]

In [112]:
li.remove(2)  # Raises a ValueError as 2 is not in the list
print (li)

ValueError: list.remove(x): x not in list

In [113]:
# Insert an element at a specific index
li.insert(1, 2)  # li is now [1, 2, 3] again
print (li)

[1, 2, 3]

In [117]:
# Get the index of the first item found matching the argument
# 숫자 2가 어느 위치에 있는지 알려주는 역할
# 들어있는 숫자 이상으로 입력할 경우 에러
li.index(2)

1

In [118]:
# You can add lists
# Note: values for li and for other_li are not modified.
li + other_li

[1, 2, 3, 4, 5, 6]

In [122]:
# Concatenate lists with "extend()"
# li 묶음에 확장해서 other_Li를 이음
li=[1,2,3]
li.extend(other_li)
print(li)

[1, 2, 3, 4, 5, 6]

In [125]:
# Check for existence in a list with "in"
1 in li # 묶음에 1이 있는지 확인

True

In [126]:
# Examine the length with "len()"
len(li) # 묶음의 요소가 몇개인지

6

* Tuples

In [129]:
# Tuples are like lists but are immutable.
# 튜플은 리스트와 거의 비슷하지만 괄호 표기가 다름
tup = (1, 2, 3)
tup[0]

1

In [128]:
tup[0] = 3

TypeError: 'tuple' object does not support item assignment

In [130]:
# Note that a tuple of length one has to have a comma after the last element but
# tuples of other lengths, even zero, do not.
type((1))   # => <class 'int'>

int

In [131]:
type((1,))

tuple

In [132]:
type(())

tuple

In [138]:
# You can do most of the list operations on tuples too
# tuple은 리스트와 거의 비슷하게 적용이 가능하다.
len(tup)

3

In [134]:
tup + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [135]:
tup[:2]

(1, 2)

In [136]:
2 in tup

True

In [139]:
# You can unpack tuples (or lists) into variables
a, b, c = (1, 2, 3)  # a is now 1, b is now 2 and c is now 3

In [141]:
# You can also do extended unpacking
# *b는 리스트로, 두가지 요소가 들어가 있음
a, *b, c = (1, 2, 3, 4)  # a is now 1, b is now [2, 3] and c is now 4

In [142]:
# Tuples are created by default if you leave out the parentheses
d, e, f = 4, 5, 6  
# tuple 4, 5, 6 is unpacked into variables d, e and f
print (e)

5

In [143]:
# respectively such that d = 4, e = 5 and f = 6
# Now look how easy it is to swap two values
e, d = d, e  # d is now 5 and e is now 4
print (e)

4

* Dictionary

In [146]:
# Dictionaries store mappings from keys to values
empty_dict = {}
# Here is a prefilled dictionary
filled_dict = {"one": 1, "two": 2, "three": 3}

In [149]:
# Note keys for dictionaries have to be immutable types. This is to ensure that
# the key can be converted to a constant hash value for quick look-ups.
# Immutable types include ints, floats, strings, tuples.
# 사전에서 키 값으로 정수, 소수, string, tuples가 들어갈 수 있으나 리스트 안됨
invalid_dict = {[1,2,3]: "123"}

TypeError: unhashable type: 'list'

In [150]:
valid_dict = {(1,2,3):[1,2,3]}   # Values can be of any type, however.
# 해쉬값으로 tuples은 사용할 수 있음

In [151]:
# Look up values with []
filled_dict["one"]

1

In [155]:
# python 버전이 3.7 이상이어야함 (나는 3.11)
list(filled_dict.keys()) # => ["one", "two", "three"] in Python 3.7+

['one', 'two', 'three']

In [156]:
# values()를 사용하여 사전에 있는 값들을 볼 수 있다.
# list 함수를 사용하여 꺼낸 값들을 묶을 수 있다.
list(filled_dict.values())

[1, 2, 3]

In [159]:
# Check for existence of keys in a dictionary with "in"
# in을 사용하면 사전에 있는 키를 확인할 수 있다. 없는 키를 치면 에러뜸
"one" in filled_dict

True

In [158]:
1 in filled_dict

False

In [162]:
# Use "get()" method to avoid the KeyError
# get과 키를 사용하여 정의된 값을 불러올 수 있다.
# 없는 키를 입력하면 마찬가지로 에러남
filled_dict.get("one")

1

In [165]:
# 아무 값도 출력되지 않음
filled_dict.get("four")

In [166]:
# The get method supports a default argument when the value is missing
filled_dict.get("one", 4)

1

In [169]:
# 값이 누락된 경우 임의로 설정
filled_dict.get("four", 4)

4

In [170]:
# "setdefault()" inserts into a dictionary only if the given key isn't present
filled_dict.setdefault("five", 5)

5

In [171]:
filled_dict.setdefault("five", 6)

5

In [173]:
# 확인했을 때 five가 들어가 있음을 알 수 있음
list(filled_dict.keys())

['one', 'two', 'three', 'five']

In [174]:
# Adding to a dictionary
filled_dict.update({"four":4})

In [177]:
# 사전에 정의를 넣는 또 다른 방법
filled_dict["four"]=4

In [178]:
# 확인했을 때 five가 들어가 있음을 알 수 있음
list(filled_dict.keys())

['one', 'two', 'three', 'five', 'four']

In [179]:
# Remove keys from a dictionary with del
del filled_dict["one"]
list(filled_dict.keys())

['two', 'three', 'five', 'four']

In [180]:
{'a': 1, **{'b': 2}}

{'a': 1, 'b': 2}

In [181]:
{'a': 1, **{'a': 2}}

{'a': 2}

* Set 함수

In [185]:
# Sets store ... well sets
# set 함수는 파이썬에서 집합
empty_set = set()
# Initialize a set with a bunch of values.
some_set = {1, 1, 2, 2, 3, 4}  # some_set is now {1, 2, 3, 4}

In [184]:
# Similar to keys of a dictionary, elements of a set have to be immutable.
invalid_set = {[1], 1}  # => Raises a TypeError: unhashable type: 'list'
valid_set = {(1,), 1}  # list is unhashable, tubles are hashable

TypeError: unhashable type: 'list'

In [189]:
# Add one more item to the set
filled_set = some_set
filled_set.add(5)
filled_set

{1, 2, 3, 4, 5}

In [188]:
# Sets 함수에서 같은 요소를 중복해서 가질 수 없음
filled_set.add(5)
filled_set

{1, 2, 3, 4, 5}

In [190]:
# &를 사용하여 공통된 요소들을 알 수 있음
other_set = {3, 4, 5, 6}
filled_set & other_set

{3, 4, 5}

In [191]:
# |를 사용하여 두 집합에 존재하는 요소들을 중복 없이 모을 수 있음
filled_set | other_set

{1, 2, 3, 4, 5, 6}

In [192]:
# -를 사용하여 집합끼리 뺄 수 있음
{1, 2, 3, 4} - {2, 3, 5}

{1, 4}

In [193]:
# ^를 사용하여 겹치지 않는 요소들을 모을 수 있음
{1, 2, 3, 4} ^ {2, 3, 5}

{1, 4, 5}

In [194]:
# Check if set on the left is a superset of set on the right
# 왼쪽이 더 상위 집합인지 확인
{1, 2} >= {1, 2, 3}

False

In [195]:
# Check if set on the left is a subset of set on the right
{1, 2} <= {1, 2, 3}

True

In [196]:
# Check for existence in a set with in
2 in filled_set

True

In [198]:
# Make a one layer deep copy
filled_set = some_set.copy()
some_set

{1, 2, 3, 4, 5}

In [201]:
# 복사본일뿐 같은게 아님 (역으로 해도 마찬가지)
filled_set is some_set

False

In [200]:
some_set is filled_set

False

3. Control Flow and Iterables
-----------------------------

In [202]:
# Let's just make a variable
some_var = 5

* if 함수 사용법

In [221]:
if some_var>10:
    print("some_var is totally bigger than 10.")
elif some_var<10:
    print("some_var is smaller than 10.")
else:
    print("some_var is indeed 10.")

some_var is smaller than 10.

* Loops 함수 사용법

In [219]:
# list 프린트하기
for animal in ["dog","cat","mouse"]:
               print("{} is a mammal". format(animal))
# '.' 말고 ',' 쓰면 이상하게 출력됨

dog is a mammal
cat is a mammal
mouse is a mammal

In [216]:
# range(number) 사용해서 숫자 나열하기
# 0부터 적힌 숫자의 전까지 출력됨
for i in range(4):
    print(i)

0
1
2
3

In [217]:
# range(lower, upper) 사용하기
# lower숫자부터 출력되어 upper-1까지 출력됨
for i in range(4,8):
    print(i)

4
5
6
7

In [218]:
# range(lower, upper, step) 사용하기
# 마찬가지로 숫자의 열이 출력, step 만큼 띄어서 숫자 출력됨
for i in range(4,8,2):
    print(i)

4
6

In [220]:
# enumerate 함수 사용하기
# in 뒷부분에 넣어주면 사용 가능
# 인덱스와 요소로 이루어진 튜플을 만들어주며, 출력 시 인덱스와 요소를 따로 지정
animals=["dog","cat","mouse"]
for i, value in enumerate(animals):
    print(i, value)

0 dog
1 cat
2 mouse

* while 함수 사용법

In [222]:
# 조건에 성립할 때 까지 숫자 출력
x=0
while x<4:
    print(x)
    x+=1 # x=x+1을 줄인 것

0
1
2
3

* try/expept 블록 사용하기

In [228]:
try:
    # error를 띄우기 위해 raise를 사용하면 됨
    raise IndexError("This is an index error")
except IndexError as e:
    pass
except (TypeError, NameError):
    pass # 여러개의 exception을 넣을 수 있다.
else:
    print("All good!")
finally:
    print("We can clean up resources here")
# try 블록 수행 중 오류가 발생하면 except 블록이 수행됨
# try 블록 수행 중 오류가 없으면 except블록은 수행되지 않음
# finally는 모든 경우에서 실행됨

We can clean up resources here

* 파일에 내용 쓰고 읽기

In [244]:
# Writing to a file
contents = {"aa": 12, "bb": 21}
with open("myfile1.txt", "w+") as file:
    file.write(str(contents))

In [245]:
import json
with open("myfile2.txt", "w+") as file:
    file.write(json.dumps(contents))

In [246]:
# Reading from a file
with open('myfile1.txt', "r+") as file:
    contents = file.read()           # reads a string from a file
print(contents)

{'aa': 12, 'bb': 21}

In [247]:
with open('myfile2.txt', "r+") as file:
    contents = json.load(file)       # reads a json object from a file
print(contents)

{'aa': 12, 'bb': 21}

* Iterable 사용하기

In [262]:
filled_dict = {"one": 1, "two": 2, "three": 3}
our_iterable = filled_dict.keys() # 사전에 정의된 키를 반복적으로 꺼냄
print(our_iterable)

dict_keys(['one', 'two', 'three'])

In [263]:
# We can loop over it.
for i in our_iterable:
    print(i)

one
two
three

In [264]:
# However we cannot address elements by index.
our_iterable[1]

TypeError: 'dict_keys' object is not subscriptable

In [265]:
# An iterable is an object that knows how to create an iterator.
our_iterator = iter(our_iterable)

In [266]:
# Our iterator is an object that can remember the state as we traverse through
# it. We get the next object with "next()".
next(our_iterator)

'one'

In [267]:
next(our_iterator)

'two'

In [268]:
next(our_iterator)
#next라는 내장함수를 사용할 때마다 순서대로 값이 출력됨

'three'

In [269]:
# After the iterator has returned all of its data, it raises a
# StopIteration exception
next(our_iterator)

StopIteration:

In [270]:
# We can also loop over it, in fact, "for" does this implicitly!
our_iterator = iter(our_iterable)
for i in our_iterator:
    print(i)

one
two
three

In [273]:
# You can grab all the elements of an iterable or iterator by call of list().
list(our_iterable)

['one', 'two', 'three']

In [275]:
list(our_iterator)
# 값이 빈 상태에서 저장됐기 때문에 아무것도 없음

[]

4. Functions
--------------

* 새로운 함수 만들기

In [277]:
# use "def"
def add(x,y):
    print("x is {} and y is {}".format(x,y))
    return x+y

In [279]:
add(5,6)
#위에서 함수가 정의되었기 때문에 이를 사용할 수 있음

x is 5 and y is 6

11

In [280]:
def varargs(*args):
    return args

In [285]:
# 튜플 형태로 데이터를 받음
varargs(1,2,3)

(1, 2, 3)

In [283]:
def keyword_args(**kwargs):
    return kwargs

In [286]:
# dictionary 형태로 데이터 받음
keyword_args(big="foot", loch="ness")

{'big': 'foot', 'loch': 'ness'}

In [287]:
def all_the_args(*args, **kwargs):
    print(args)
    print(kwargs)

In [289]:
all_the_args(1,2,a=3,b=4)
#단순 숫자는 튜플, 복잡한 형태는 사전으로 따로 받는듯)

(1, 2)
{'a': 3, 'b': 4}

In [295]:
# 함수를 불러올 때 args와 kwargs를 반대로 적용도 가능!
args=(1,2,3,4)
kwargs={"a":3, "b":4}

In [293]:
all_the_args(*args)

(1, 2, 3, 4)
{}

In [294]:
all_the_args(**kwargs)

()
{'a': 3, 'b': 4}

In [296]:
all_the_args(*args, **kwargs)

(1, 2, 3, 4)
{'a': 3, 'b': 4}

In [297]:
def swap(x,y):
    return y,x

In [300]:
x=1
y=2
x,y=swap(x,y)
print (x,y)

2 1

In [304]:
x=5
def set_x(num):
    x=num
    print(x)

def set_global_x(num):
    global x
    print(x)
    x=num
    print(x)
# global은 전역변수로 설정하고 싶을 때 사용한다. (함수 외에도 해당 변수를 사용하고 싶을 때)

In [303]:
set_x(43)
set_global_x(6)

43
5
6

* 함수 속의 함수

In [305]:
def create_adder(x):
    def adder(y):
        return x+y
    return adder

In [307]:
add_10=create_adder(10) #x==10
add_10(3) #y==3

13

* Anonymous functions

In [308]:
(lambda x:x>2)(3)

True

In [310]:
(lambda x,y:x**2+y**2)(2,1)

5

* higher order functions

In [311]:
list(map(add_10, [1,2,3]))

[11, 12, 13]

In [312]:
list(map(max, [1,2,3], [4,2,1]))

[4, 2, 3]

In [314]:
list(filter(lambda x:x>5,[3,4,5,6,7]))

[6, 7]

In [317]:
# list로 함수를 사용할 수 있음
[add_10(i) for i in [1,2,3]]

[11, 12, 13]

In [316]:
[x for x in [3,4,5,6,7] if x>5]

[6, 7]

In [319]:
# 사전 형태로도 사용 가능
{x for x in 'abcddeef' if x not in 'abc'}

{'d', 'e', 'f'}

In [321]:
# * 두개는 제곱
{x:x**2 for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

5. Modules
----------

In [322]:
# import modules
import math
print(math.sqrt(16))

4.0

In [324]:
# Sepcific functions from a module
from math import ceil, floor
print(ceil(3.7))

4

In [325]:
print(floor(3.7))

3

In [326]:
import math as m
math.sqrt(16)==m.sqrt(16)

True

6. Classes
-------

* Class Human

In [345]:
# class 사용법
class Human:
    species="H.sapiens"
    def __init__(self, name):
        self.name=name
        self._age=0
    def say(self, msg):
        print("{name}: {message}".format(name=self.name, message=msg))
    def sing(self):
        return 'yo...yo...microphone check...one..two..one...two'
    def get_species(cls):
        return cls.species
    def grunt():
        return "*grunt*"
    def age(self):
        return self._age
    def age(self, age):
        self._age=age
        def age(self):
            del self._age
if __name__=='__main__':
    i=Human(name="lan")
    i.say("hi")
    j=Human("joel")
    j.say("hello")
    i.say(i.get_species())
    Human.species = "H. neanderthalensis"
    i.say(i.get_species())
    j.say(j.get_species())
    print(Human.grunt())
    i.age=42
    i.say(i.age)
    j.say(j.age)

lan: hi
joel: hello
lan: H.sapiens
lan: H. neanderthalensis
joel: H. neanderthalensis
*grunt*
lan: 42
joel: <bound method Human.age of <__main__.Human object at 0x0000018504556150>>

* Class Batman

In [347]:
from human import Human
class Superhero(Human):
    species='Superhuman'
    def __init(self, name, movie=False, superpowers=["super strength", "bulletproofing"]):
        self.fictional = True
        self.movie = movie
        self.superpowers = superpowers
        super().__init__(name)
    def sing(self):
        return 'Dun dun DUN!'
    def boast(self):
        for power in self.superpowers:
            print("I weild the power of {pow]!".format(pow=power))
if __name__=='__mainMM':
    sup=Superhero(name="Tick")
    if isinstance(sup, Human):
        print('I am human')
    if type(sup) is Superhero:
        print('I am a superhero')
    print(Superhero.__mro__)
    print(sup.get_species())
    print(sup.sing())
    sup.say('Spoon')
    sup.boast()
    sup.age=31
    print(sup.age)
    pritn('Am I Oscar eligible?'+str(sup.movie))

ModuleNotFoundError: No module named 'human'

In [349]:
class Bat:
    species='Baty'
    def __init__(self, can_fly=True):
        self.fly=can_fly
    def say(self, msg):
        msg='... ... ...'
        return msg
    def sonar(self):
        return '))) ... ((('
if __name__ == '__main__':
    b = Bat()
    print(b.say('hello'))
    print(b.fly)

... ... ...
True

In [350]:
from superhero import Superhero
from bat import Bat
class Batman(Superhero, Bat):
    def __init__(self, *args,**kwargs):
        Superhero.__init__(self, 'anonymous', movie=True,superpowers=['Wealthy'], *args, **kwargs)
        Bat.__init__(self, *args, can_fly=False, **kwargs)
        self.name = 'Sad Affleck'
    def sing(self):
        return 'nan nan nan nan nan batman!'
if __name__=='__main__':
    print(Batman.__mro__)
    print(sup.get_species())
    print(sup.sing())
    sup.say('I agree')
    print(sup.sonar())
    sup.age = 100
    print(sup.age)
    print('Can I fly? ' + str(sup.fly))

ModuleNotFoundError: No module named 'superhero'

7. Advanced
----------

In [351]:
def double_numbers(iterable):
    for i in iterable:
        yield i+i
for i in double_numbers(range(1, 900000000)):
    print(i)
    if i>=30:
        break

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [353]:
values = (-x for x in [1,2,3,4,5])
for x in values:
    print(x)

-1
-2
-3
-4
-5

In [354]:
values = (-x for x in [1,2,3,4,5])
gen_to_list = list(values)
print(gen_to_list)

[-1, -2, -3, -4, -5]

In [355]:
from functools import wraps
def beg(target_function):
    @wraps(target_function)
    def wrapper(*args, **kwargs):
        msg, say_please = target_function(*args, **kwargs)
        if say_please:
            return "{} {}".format(msg, "Please! I am poor :(")
        return msg

    return wrapper
@beg
def say(say_please=False):
    msg = "Can you buy me a beer?"
    return msg, say_please

print(say())
print(say(say_please=True))

Can you buy me a beer?
Can you buy me a beer? Please! I am poor :(